/* Header/Nav Element Styling */
header {
    border-bottom: solid 5px var(--content);
    padding: 30px;
    display: flex;
    justify-content: flex-end;
}

h1 {
    position: absolute;
    left: 20px;
    top: 20px;
}

button {
    margin-left: 15px;
}

#back-button, #clear-button {
    background-color: var(--content);
    color: var(--background);
    border-radius: 5px;
    padding: 10px;
    box-shadow: grey;
    font-weight: bolder;
}

/* Main Content Styling */
main {
    display: flex;
    margin-top: 5px;
    border-top: solid 5px var(--content);
    border-bottom: solid 5px var(--content);
    gap: 5px;
    justify-content: center;
}

#blog-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 16px;
}

#blog-content P {
    padding: 5px;
}

#blog-post-li {
    border-radius: 5px;
    border: solid 2.5px var(--content);
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

#blog-post-title {
    border-bottom: solid 1px var(--content);
    font-weight: bold;
}

#blog-post-content {
    font-style: italic;
    margin-left: 12px;
    margin-top: 5px;
}

#blog-post-author {
    margin-top: 30px;
}

/* Footer Styling */
footer {
    display: flex;
    margin-top: 5px;
    border-top: solid 5px var(--content);
    border-bottom: solid 5px var(--content);
    gap: 5px;
    flex-direction: column;
}

h3 {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    font-weight: normal;
}

#contacts {
    padding: 10px;
    margin-left: 30px;
    list-style-type: none;
    margin-bottom: 10px;
}

#contacts a {
    text-decoration: none;
    color: var(--content);
    margin-left: 5px;
    font-weight: normal;
}

#contacts li {
    display: flex;
    padding: 10px;
    font-style: italic;
}