/* remove default styling/Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color variables for referencing */
:root {
    --background: #e3fcea;
    --content: #010a04;
    font-family: Verdana, Geneva, sans-serif;
}

/* Header/Nav Element Styling */
header {
    border-bottom: solid 5px var(--content);
    padding: 30px;
    display: flex;
    justify-content: flex-end;
}

/* Main Content Styling */
main {
    display: flex;
    margin-top: 5px;
    border-top: solid 5px var(--content);
    border-bottom: solid 5px var(--content);
    gap: 5px;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50rem;
    border-right: solid 5px var(--content);
    border-bottom: solid 5px var(--content);
    margin-bottom: 5px;
}

img {
    width: 100%;
}

section {
    display: flex;
    width: 50%;
    height: 50rem;
    border-left: solid 5px var(--content);
    border-bottom: solid 5px var(--content);
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: xx-large;   
    text-shadow: 1px 0 var(--content);
    letter-spacing:1px;
    font-weight:bolder;
}

#submit {
    width: 100%;
    padding: 10px;
    background-color: var(--content);
    color: var(--background);
    border-radius: 5px;
}

input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#content {
    padding: 50px;
}

label {
    margin-top: 20px;
}

.content-wrapper {
    padding: 20px;
}