/* remove default styling/Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color variables for referencing */
:root {
  --background: #e3fcea;
  --content: #010a04;
  font-family: Verdana, Geneva, sans-serif;
}

/* 
body {
    background-color: white;
    color: black;
    transition: background-color 10s;
    transition: color 2s;
  }

.dark-mode {
    background: black;
    color: white;
    transition: background-color 2s;
    transition: color 2s;
  }
*/
#mode-toggle {
    border: none;
    background: none;
}