/* remove default styling/Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color variables for referencing */
:root {
  --background: white;
  --content: black;
  font-family: Verdana, Geneva, sans-serif;
}


body {
    background-color: var(--background);
    color: var(--content);
    transition: all 2s ease;
  }


.dark-mode {
  --background: black;
  --content: white;
  transition: all 2s ease;
  }

#mode-toggle {
    border: none;
    background: none;
}

#mode-toggle img {
  height: 25px;
  width: 25px;
}